<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>shiva kumar goud palle</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="Palle.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
	
</head>

<body >
	


    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Introduction</a>
	  </div>
	
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
		
     
     <li><a href="yourchoice">Your Choice</a></li>
		
   
		<li class="active"><a href="Contact">Contact</a></li>
		<li><a href="Guestbook">Guestbook</a></li>
		
		
    </ul>
  </div>
</nav>
	
	
 <a href="https://twitter.com/"> <span class="fa-align-left fa fa-twitter -align-left" aria-hidden="true"></span></a>

		
			
  <a href="https://www.google.com/"><span class="fa-align-left fa fa-google -align-left" aria-hidden="true"></span></a>

		
			
  <a href="https://github.com/"><span class="fa-align-left fa fa-github -align-left" aria-hidden="true"></span></a>

		
  <a href="https://bitbucket.org/"><span class="fa-align-left fa fa-bitbucket -align-left" aria-hidden="true"></span></a>

		
			
 <a href="https://www.linkedin.com/"><span class="fa-align-left fa fa-linkedin -align-left" aria-hidden="true"></span></a>

	
	<div class="container">
<div class="col-md-5">
    <div class="form-area">  
        
        <br style="clear:both">
                    <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
    				<div class="form-group">
						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
					</div>
                    <div class="form-group">
                    <textarea class="form-control"  id="message" placeholder="Ask Question" maxlength="140" rows="7"></textarea>
						<span class="help-block"></span>             
                    </div>
            
        <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Form</button>
        
    </div>
</div>
</div>
	
	
</body>
</html>
