<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>M07 Guestbook</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
    <link rel="stylesheet" href="/guestbook.css">
</head>

<body class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Shiva Goud's INTRO</a>
            </div>

            <ul class="nav navbar-nav">
                    
                <li>
                <a href="/">Home</a>
                </li>
                <li>
                    <a href="yourchoice">Your Choice</a>
                </li>
                <li>
                    <a href="Contact">Contact</a>
                </li>
                <li class="active">
                        <a href="Guestbook">Guestbook</a>
                    </li>
            </ul>





        </div>
    </nav>
    <h1 style="padding-top: 1.5em">
        Guest book
        <a href="/new-entry" class="btn btn-primary pull-right">
            Write in the guestbook
        </a>
    </h1>