<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>shiva kumar goud palle</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery-3.3.1.min.js"></script>
	<link rel="stylesheet" type="text/css" href="Palle.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>

<body class="container-fluid" >	
	<div class="container">
	<div class="col-md-12">
		 <img src="images/shivagoud.png" alt="shiva photography" class="img-circle" width="200" height="300"/>
		</div>
	</div>
	<h1>HELLO Bearcats! welcome to my page
	</h1>
	


    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Shiva Goud's INTRO</a>
	  </div>
	
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
     <li><a href="yourchoice">Your Choice</a></li>
		<li><a href="Contact">Contact</a></li>
		<li><a href="Guestbook">Guestbook</a></li></ul>
		
 <a href="https://twitter.com/"> <span class="fa-align-left fa fa-twitter -align-left" aria-hidden="true"></span></a>

		
			
  <a href="https://www.google.com/"><span class="fa-align-left fa fa-google -align-left" aria-hidden="true"></span></a>
	
		
  <a href="https://github.com/"><span class="fa-align-left fa fa-github -align-left" aria-hidden="true"></span></a>

		
			
  <a href="https://bitbucket.org/"><span class="fa-align-left fa fa-bitbucket -align-left" aria-hidden="true"></span></a>

		
 <a href="https://www.linkedin.com/"><span class="fa-align-left fa fa-linkedin -align-left" aria-hidden="true"></span></a>

		
    
  </div>
</nav>
	<div class="col-md-4"><h2>CURRENT</h2>
       
<p>
I here first like to thank North West Missouri State University for granting admission in to Applied Computer Science for Spring 2018
</p>
	
	</div>
	<div class="col-md-4">
<a id="Past-Section"></a><h2>BACKGROUND</h2>


<p>I am basically from Hyderabad, a city located in the south-east of India.I received Bachelors degree in Computer Science from JNTUH and accomplished GPA of 3.74/4 and stood 2nd in class.I use to create fully functional spreadsheets in university and also familiar with organizing and analyzing large sets of data.
Moreover, I also trained as teaching assistant in u-graduation.
		</p>
	</div>
		
	<div class="col-md-4"><h2>INTERESTS</h2></div>
<p id="shiva1">
I am very comfortable using computers and confident in ability to learn any programs quickly. I have also taken other on-line courses to strengthen my IT Skills, and have had much success.
Apart from academics ,I Have also shown my excellency in sports like cricket and karate where i achieved international gold medal. Moreover, I love to to dance and spend my free time with friends and family.
</p>
	
	
	

	<div class="col-md-4"><h3>PLANS</h3>
<p id="shiva2">At present am limited to my short term goals like enhancing my knowledge in programming And I strongly believe this as good opportunity and like to utilize the ACS course work in North West Missouri State University, which takes my journey to a Software Professional. .

		</p></div>
	
	<div class="col-md-4">
	<div class="embed-container">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/2OcbJkQY-SA" ></iframe>
		</div>

	</div>
	
	<div class="col-md-8">
	<h3>HOBBIES</h3>
	<ul><li>dancing</li>
		<li>western dance</li>
		<li>singing</li>
	<li>playing cricket
		</li></ul></div>
	
	

	
</body>
</html>
