<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>shiva kumar goud palle</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script src="js/bootstrap.js"></script>
  <script src="js/jquery-3.3.1.min.js"></script>
 <script src="yourchoice.js"></script>
	<link rel="stylesheet" type="text/css" href="Palle.css">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
</head>

<body>
	
	


    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My Introduction</a>
	  </div>
	
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
     <li class="active"><a href="yourchoice">Your Choice</a></li>
    <li><a href="Contact">Contact</a></li>
    <li><a href="Guestbook">Guestbook</a></li>
		
		
    </ul>
  </div>
</nav>
	
	
 <a href="https://twitter.com/"> <span class="fa-align-left fa fa-twitter -align-left" aria-hidden="true"></span></a>

		
			
  <a href="https://www.google.com/"><span class="fa-align-left fa fa-google -align-left" aria-hidden="true"></span></a>
	
		
			
  <a href="https://github.com/"><span class="fa-align-left fa fa-github -align-left" aria-hidden="true"></span></a>

		
			
  <a href="https://bitbucket.org/"><span class="fa-align-left fa fa-bitbucket -align-left" aria-hidden="true"></span></a>

		
			
 <a href="https://www.linkedin.com/"><span class="fa-align-left fa fa-linkedin -align-left" aria-hidden="true"></span></a>

	
 <form>
  <p>
     Your order: <span id="result"></span><br /><br />
     Your order: <span id="result1"></span><br /><br />
     Your order: <span id="result2"></span><br /><br />
     
     Total: <span id="total"></span><br /><br />
     
    Price: 10<input type="hidden" id="value0" value="10"/>
    Quantity:<input type="text" id="qty0" size="2" value=""/>	
    <input type="button" onclick="set1();" value="Add"/>
    <br/>
    Price: 20<input type="hidden" id="value1" value="20"/>
    Quantity:<input type="text" id="qty1"  size="2" value=""/>	
    <input type="button" onclick="set2();" value="Add"/>	
    <br/>
    Price: 30<input type="hidden" id="value2" value="30"/>
    Quantity:<input type="text" id="qty2" size="2" value=""/>	
    <input type="button" onclick="set3();" value="Add"/>
    <a href="test/test.html">test</a>
  </br>

  
  <input type="button" onclick="set();" value="Add"/>
    
  
  </form>    							
            
	
	
	
	
	
</body>
</html>
