@charset "utf-8";
/* CSS Document */
.container-fluid
{
	background-image: url(images/Best.jpg);
	
}
#shiva1
{
	background-color:#D5E7EC;
}
#shiva2
{
	background-color:#D5E7EC;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}
.fa-github {
  background: #dd4b39;
  color: white;
}

.fa-bitbucket {
  background: #007bb5;
  color: white;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}



.fa-LinkedIn {
  background: #dd4b39;
  color: white;
}


.red{
    color:red;
    }
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}
p {
    letter-spacing: 3px;
	
}
h1 {
    text-decoration: overline;
}

